html {
    background: url('bg_image.jpg') no-repeat center fixed;
    background-size: cover;
    position: fixed;
    margin: 0;
    padding: 0;
}

.keys {
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
}

.key {
    border: 0.4rem solid whitesmoke;
    border-radius: 0.6rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem 0.5rem;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.4);
    text-shadow: 0 0 .5rem;
    width: 5rem;
}

kbd {
    display: block;
    font-size: 4rem;
}

.sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #ffc600;
}